//- productos.jade
extends header.jade

block title
	title Pan de Muerto con Chocolate Abuelita<sup>®</sup>  - Nestlé

block description
	meta(name="description" content="Descubre cómo hacer Pan de Muerto con Chocolate Abuelita<sup>®</sup> y otras deliciosas recetas en https://www.abuelita.com.mx/")

block openGraph
	meta(property="og:url" content=url + 'como-hacer-pan-de-muertos-con-chocolate-abuelita.html')
	meta(property="og:title" content="Cómo hacer Pan de Muerto con Chocolate Abuelita<sup>®</sup>  - Nestlé")
	meta(property="og:description" content="Descubre cómo hacer Pan de Muerto con Chocolate Abuelita<sup>®</sup> y otras deliciosas recetas en https://www.abuelita.com.mx/")
	meta(property="og:type" content="article")
	meta(property="og:image" content=url + 'img/compartir-receta-pan-muerto-chocolate-abuelita-nestle.png')

block twitterCards
	meta(name="twitter:card" content="summary_large_image")
	meta(name="twitter:site" content='@' + twitterUser)
	meta(name="twitter:creator" content='@' + twitterUser)
	meta(name="twitter:title" content="Cómo hacer Pan de Muerto con Chocolate Abuelita<sup>®</sup>  - Nestlé")
	meta(name="twitter:description" content="Descubre cómo hacer Pan de Muerto con Chocolate Abuelita<sup>®</sup> y otras deliciosas recetas en https://www.abuelita.com.mx/")
	meta(name="twitter:image" content=url + 'img/compartir-receta-pan-muerto-chocolate-abuelita-nestle.png')
		
block content

	//- 
		Instrucciones para botón de compartir
		
		Abajo encontrarás la variable mensajeDeTwitter, simplemente introduce 
		el texto que aparecerá al compartir en twitter
		
		EL botón se genera desde un mixin en jade/_mixins.jade 
		
		El mensaje se puede introducir directamente en el mixin como string pero para practicidad
		se ha incluido en la variable mencionada.
		
		+btnShare( 'ElMensajeDeTwitter' )

	-var mensajeDeTwitter = 'Descubre cómo hacer Pan de Muerto con Chocolate Abuelita<sup>®</sup> y otras deliciosas recetas en www.abuelita.com.mx'
	-var receta = 'como-hacer-pan-de-muertos-con-chocolate-abuelita.html'

	main#receta(role="main")

		+sectionHeader(
				'receta-banner', 
				'ui-bg-bold', 
				'Receta', 
				'Cómo hacer Pan de Muerto con Chocolate Abuelita<sup>®</sup>', 
				url + 'img/receta-banner-como-preparar-pan-de-muerto-chocolate-abuelita-nestle.jpg', 
				url + 'img/icon-recetas.png'
			)

		.ui-block-texture-cover.print
			section#receta-video.wk-section.ui-box-model.wk-wrap-1100.wk-margin-y-40.no-print
				.wk-section-wrap
					a(href="https://www.youtube.com/watch?v=X9v33_M2BR8" data-fancybox)
						img.wk-img-responsive(src=url + "img/video-play-receta-pan-muerto-chocolate-abuelita-nestle.jpg")
			aside#receta-ingredientes.wk-wrap-1100.wk-margin-y-40.ui-box-model
				.wk-section-wrap
					
					h6.ui-title
						img(src=url + "img/icon-ingredientes.png")
						| Ingredientes
					
					ul
						li 1 sobre de 11g de levadura en polvo.
						li 4 cucharadas de agua.
						li 1 cdita. de azúcar.
						li 800 g de harina de trigo.
						li ¾ de taza de azúcar.
						li 1 lata de 378 g de Leche Evaporada CARNATION<sup>®</sup> CLAVEL <sup>®</sup>.
						li 1 huevo.
						li 1 yema de huevo.
						li 2 cucharadas de ralladura de naranja.
						li 180 g de mantequilla.
						li 200g de Chocolate para Mesa Abuelita<sup>®</sup>.
						
						p PARA BARNIZAR:
							ul
								li 1 huevo.
								li 90 g de mantequilla.
								li 1 taza de azúcar.
						
						
					h6.ui-title
							img(src=url + "img/icon-hornear.png")
							| Precalentar el horno a 180°C
					
					h6.ui-title
						img(src=url + "img/icon-preparacion.png")
						| Preparación
					
			section#receta-content.wk-wrap-1100.ui-box-model.wk-m-text-center
				.wk-section-wrap
				
					//
						+recetaPaso ( 'numeroDePaso', 'Contenido' )
					
					+recetaPaso ( '1', 'Mezcla la levadura con la cucharadita de azúcar y el agua tibia, espera hasta que doble su volumen.' )
					
					+recetaPaso ( '2', 'Forma una fuente con la harina y el azúcar, vierte en el centro la levadura, la Leche Evaporada CARNATION<sup>®</sup> CLAVEL<sup>®</sup>, el huevo, la yema, la ralladura y la mantequilla. Mezcla todos los ingredientes hasta formar una pasta. Amásala y golpéala contra la mesa hasta que esté tersa, elástica y no se te pegue en los dedos.' )
					
					+recetaPaso ( '3', 'Déjala reposar en un lugar tibio hasta que doble su volumen.' )
					
					+recetaPaso ( '4', 'Reserva una cuarta parte de la masa para formar los huesos.' )
					
					+recetaPaso ( '5', 'Agrega el Chocolate para Mesa ABUELITA<sup>®</sup> troceado al resto de la masa.' )
					
					+recetaPaso ( '6', 'Divide la masa en 10 partes iguales y forma bolas, colócalas en charolas previamente engrasadas y enharinadas. Con la masa que reservaste forma 20 tiras para los huesitos y colócalas cruzadas sobre los panes que formaste y en la parte superior coloca una bolita muy pequeña. Deja reposar hasta que esponje.' )
					
					+recetaPaso ( '7', 'Barniza con huevo y hornea durante 30 minutos.' )
					
					+recetaPaso ( '8', 'Retira del horno, barniza con la mantequilla y espolvorea con azúcar.' )
						

			section#receta-buttons.wk-wrap-1100.wk-text-center.ui-d-row-padding
				.wk-section-wrap
					.wk-cols
						.wk-col-3.ui-box-model.wk-d
							a.ui-btn(href="#" onclick="window.print()")
								img(src=url + "img/icon-imprimir.png" alt="Imprimir")
								span Imprimir
								
						.wk-col-3.ui-box-model.no-print
							+btnShare( mensajeDeTwitter, receta )
							
						.wk-col-3.ui-box-model.no-print
							a.ui-btn(href="/recetas.html") 
								img(src=url + "img/icon-conoce-mas-recetas.png" alt="Más recetas")
								span Más recetas	
								
						.wk-col-3.ui-box-model.no-print
							a.ui-btn(href="#") 
								span.icon.fa.fa-shopping-cart.ui-text-gold
								span Comprar en superama			
					
			+sectionLeyend('receta-leyend', '')
				img.wk-margin-y-20(src=url + "img/icon-consejo.png" alt="Consejo de Abuelita - Nestle")
				h3.ui-title.ui-text-gold Consejo de Abuelita<sup>®</sup>;
				p Es importante agregar el agua tibia en nuestra preparación para que nuestra levadura se active y nuestro pan pueda fermentar correctamente.
													
	include footer.jade
