//- productos.jade
extends header.jade

block title
	title Mole poblano con Chocolate Abuelita<sup>®</sup>  - Nestlé

block description
	meta(name="description" content=" Descubre cómo hacer Churros con Salsa de Chocolate Abuelita<sup>®</sup> y otras deliciosas recetas en https://www.abuelita.com.mx/")

block openGraph
	meta(property="og:url" content=url + 'como-hacer-churros-con-salsa-de-chocolate-abuelita.html')
	meta(property="og:title" content="Cómo hacer mole poblano con de Chocolate Abuelita<sup>®</sup>  - Nestlé")
	meta(property="og:description" content=" Descubre cómo hacer Churros con Salsa de Chocolate Abuelita<sup>®</sup> y otras deliciosas recetas en https://www.abuelita.com.mx/")
	meta(property="og:type" content="article")
	meta(property="og:image" content=url + 'img/compartir-receta-churros-chocolate-abuelita-nestle.png')

block twitterCards
	meta(name="twitter:card" content="summary_large_image")
	meta(name="twitter:site" content='@' + twitterUser)
	meta(name="twitter:creator" content='@' + twitterUser)
	meta(name="twitter:title" content="Cómo hacer mole poblano con Chocolate Abuelita<sup>®</sup>  - Nestlé")
	meta(name="twitter:description" content=" Descubre cómo hacer Churros con Salsa de Chocolate Abuelita<sup>®</sup> y otras deliciosas recetas en https://www.abuelita.com.mx/")
	meta(name="twitter:image" content=url + 'img/compartir-receta-churros-chocolate-abuelita-nestle.png')
		
block content

	//- 
		Instrucciones para botón de compartir
		
		Abajo encontrarás la variable mensajeDeTwitter, simplemente introduce 
		el texto que aparecerá al compartir en twitter
		
		EL botón se genera desde un mixin en jade/_mixins.jade 
		
		El mensaje se puede introducir directamente en el mixin como string pero para practicidad
		se ha incluido en la variable mencionada.
		
		+btnShare( 'ElMensajeDeTwitter' )

	-var mensajeDeTwitter = ' Descubre cómo hacer Churros con Salsa de Chocolate Abuelita<sup>®</sup> y otras deliciosas recetas en www.abuelita.com.mx'
	-var receta = 'como-hacer-mole-poblano-con-chocolate-abuelita.html'

	main#receta(role="main")

		+sectionHeader(
				'receta-banner', 
				'ui-bg-bold', 
				'Receta', 
				'Cómo hacer mole poblano con Chocolate Abuelita<sup>®</sup>', 
				url + 'img/receta-banner-como-prepearar-mole-poblano-chocolate-abuelita-nestle.jpg', 
				url + 'img/icon-recetas.png'
			)

		.ui-block-texture-cover.print
			section#receta-video.wk-section.ui-box-model.wk-wrap-1100.wk-margin-y-40.no-print
				.wk-section-wrap
					a(href="https://www.youtube.com/watch?v=SSgoTAg3P_g&feature=youtu.be" data-fancybox)
						img.wk-img-responsive(src=url + "img/video-play-receta-mole-poblano-chocolate-abuelita-nestle.jpg")
			aside#receta-ingredientes.wk-wrap-1100.wk-margin-y-40.ui-box-model
				.wk-section-wrap
					
					h6.ui-title
						img(src=url + "img/icon-ingredientes.png")
						| Ingredientes
					
					ul
						li 4 Cucharaditas aceite de maíz 24 ml
						li 1/2 Taza nuez 125 g
						li 1 Cucharada cacahuates sin cáscara, sin sal 10 g
						li 3 Cucharadas almendras peladas 30 g
						li 20 piezas de pasas 30 g
						li 6 piezas de ciruelas pasas sin hueso 60 g
						li 10 piezas de chiles anchos secos desvenados y cocidos 100 g
						li 3 piezas de chile pasilla seco desvenados y cocidos 21 g
						li 3 piezas de chile mulatos, desvenados y cocidos 36 g
						li 2 pzas. de Sazonador a Base de Ajo DADITOS DE SAZÓN<sup>®</sup> MAGGI<sup>®</sup> 8 g
						li 1 Cucharada ajonjolí 10 g
						li 2 piezas de tortilla de maíz asadas 20
						li 5 Taza agua 1250 ml
						li 3 piezas de tomate asados 291g
						li 3 piezas de clavo de olor enteros
						li 1 Cucharadita pimienta negra molida 6 g
						li 1/4 Cucharadita anís entero 1.5 g
						li 1/2 rajita de canela 2 g
						li 6 cucharadas de MAGGI<sup>®</sup> Caldo de Tomate y Pollo 60 g
						li 1 Tabletas Chocolate ABUELITA<sup>®</sup> Para Mesa, picado 90 g
						li 8 piezas de pechuga de pollo medias pechugas, cocidas
						li 1 Cucharada ajonjolí tostado 10 g
						
					//-
						h6.ui-title
							img(src=url + "img/icon-hornear.png")
							| Horno precalentado a 180°C
						
					h6.ui-title
						img(src=url + "img/icon-preparacion.png")
						| Preparación
					
			section#receta-content.wk-wrap-1100.ui-box-model.wk-m-text-center
				.wk-section-wrap
				
					//
						+recetaPaso ( 'numeroDePaso', 'Contenido' )
					
					+recetaPaso('1','En una cacerola o cazuela calienta la mitad del aceite y fríe los 8 ingredientes siguientes; espolvorea los DADITOS DE SAZÓN<sup>®</sup> MAGGI<sup>®</sup> Sazonador Sabor Ajo y agrega el ajonjolí con las tortillas. Cocina por 5 minutos.')
					+recetaPaso('2','Licua lo anterior con el agua, los jitomates, los clavos, la pimienta, el anís, la canela y el MAGGI<sup>®</sup> Caldo de Tomate y Pollo 40% Menos Grasa; cuela. ')
					+recetaPaso('3','Aparte, calienta el aceite restante, vacía la mezcla anterior y agrega el Chocolate ABUELITA<sup>®</sup> para Mesa; cocina durante 10 minutos moviendo constantemente. ')
					+recetaPaso('4','Ofrece caliente con las piezas de pollo y decora con ajonjolí.')
					+recetaPaso( '', 'Tiempo de preparación: 40 minutos.' )
					
			section#receta-buttons.wk-wrap-1100.wk-text-center.ui-d-row-padding
				.wk-section-wrap
					.wk-cols
						.wk-col-3.ui-box-model.wk-d
							a.ui-btn(href="#" onclick="window.print()")
								img(src=url + "img/icon-imprimir.png" alt="Imprimir")
								span Imprimir
								
						.wk-col-3.ui-box-model.no-print
							+btnShare( mensajeDeTwitter, receta )
							
						.wk-col-3.ui-box-model.no-print
							a.ui-btn(href="/recetas.html") 
								img(src=url + "img/icon-conoce-mas-recetas.png" alt="Más recetas")
								span Más recetas
								
						.wk-col-3.ui-box-model.no-print
							a.ui-btn(href="#") 
								span.icon.fa.fa-shopping-cart.ui-text-gold
								span Comprar en superama			
					
			+sectionLeyend('receta-leyend', '')
				img.wk-margin-y-20(src=url + "img/icon-consejo.png" alt="Consejo de Abuelita - Nestle")
				h3.ui-title.ui-text-gold Consejo de Abuelita<sup>®</sup>;
				p Puedes agregar un poco de agua para hacerlo más ligero.
												
	include footer.jade
