footer#main-footer
	section.wk-section.wk-wrap-1100
		.wk-section-wrap.ui-box-model
			.wk-cols
				.wk-col-1(data-layout-mobile="padding-y(40px)" data-layout-desktop="margin-x(20px)")
					img(width="100" src=url + "img/logo-abuelita-footer-nestle.png" alt="Logo Chocolate Abuelita")

				.wk-col-11
					.container
						span &copy; NESTLÉ 
						strong
							a.ui-text-gold.ui-text-underline(href=url + 'terminos-y-condiciones.html' ) TÉRMINOS Y CONDICIONES
						span  / 
						strong
							a.ui-text-gold.ui-text-underline(href="https://www.nestle.com.mx/info/tc" target="_black") POLÍTICA DE PRIVACIDAD 
						span Marcas Registradas usadas bajo licencia de su titular Société des Produits Nestlé S.A., Case Postale 353, 1800 Vevey, Suiza
						br
						span.ui-text-gold.ui-text-bold.wk-m CONTACTO NESTLÉ &copy; | CALL CENTER: 
							a(href="tel:5267 3303") 5267 3303 
							| ó 
							a(href="tel:01800 363 7853") 01800 363 7853
								
							
						span.ui-text-gold.ui-text-bold.wk-d CONTACTO NESTLÉ &copy; | CALL CENTER: 
							span 5267 3303 
							| ó 
							span 01800 363 7853


//- Script
script(type="text/javascript" src=url + 'js/jquery-3.1.1.min.js')
//- Scripts
script(async type="text/javascript" src=url + "js/marteScripts.min.js")
//- Fancybox
link(rel="stylesheet" href=url + "assets/fancybox/jquery.fancybox.min.css")
script(async type="text/javascript" src=url + "assets/fancybox/jquery.fancybox.min.js")


script(async type="text/javascript" src=url + "assets/wpkitui2/wpkitui.js")
// - slick
link(rel="stylesheet" href=url + "assets/slick/slick-theme.css")
link(rel="stylesheet" href=url + "assets/slick/slick.css")
script(type="text/javascript" src=url + "assets/slick/slick.min.js")

link(href=url + "fonts/font-awesome/font-awesome.css" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet")
//- WPKit ui
link(rel="stylesheet" href=url + "assets/wpkitui2/wpkitui.css")
link(rel="stylesheet" href=url + "assets/wpkitui2/wpkitui_segment.css")
//- Style
link(rel="stylesheet" href=url + "css/style.css")
