//- header.jade
include _vars.jade
include _mixins.jade

doctype html
html(lang="es_ES" dir="ltr" last-update="10-12-17")
	head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")
		//- info -->
		meta(charset="UTF-8")
		meta(http-equiv="content-type" content="text/html; charset=UTF-8")
		meta(http-equiv="language" content="es-MX")
		meta(name="creation_date" content="Wednesday, October 11th, 2017, 4:00 pm")
		//- Site info -->
		block title
			title Chocolate Abuelita
		block description
		meta(name="description" content=description)
		//- Device & Browser -->
		meta(name="HandheldFriendly" content="True")
		meta(name="MobileOptimized" content="756")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="apple-touch-fullscreen" content="yes")
		meta(name="format-detection" content="telephone=no")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(http-equiv="X-UA-Compatible" content="IE=EmulateIE10")
		//- Icons & theme -->
		link(rel="icon" type="image/ico" href= url + 'img/favicon.png')
		meta(name="theme-color" content="#ffb500")
		meta(name="apple-mobile-web-app-status-bar-style" content="#ffb500")
		//- Links -->
		meta(name="fragment" content="!")
		//- Scripts -->
		script(type="text/javascript" src=url + 'js/jquery-3.1.1.min.js')
		//- Angular 
			script(type="text/javascript" src="http://code.angularjs.org/1.2.13/angular.js")
			script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.js")
			script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js")
		//- Libraries -->
		//- Fancybox
		link(rel="stylesheet" href=url + "assets/fancybox/jquery.fancybox.min.css")
		script(type="text/javascript" src=url + "assets/fancybox/jquery.fancybox.min.js")
		//- WPKit ui
		link(rel="stylesheet" href=url + "assets/wpkitui2/wpkitui.css")
		link(rel="stylesheet" href=url + "assets/wpkitui2/wpkitui_segment.css")
		script(type="text/javascript" src=url + "assets/wpkitui2/wpkitui.js")
		//-slick
		link(rel="stylesheet" href=url + "assets/slick/slick-theme.css")
		link(rel="stylesheet" href=url + "assets/slick/slick.css")
		script(type="text/javascript" src=url + "assets/slick/slick.min.js")
		//- Fonts -->
		link(href=url + "fonts/font-awesome/font-awesome.css" rel="stylesheet")
		//- link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,900" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet")
		//- Tweenmax
		script(type="text/javascript" src=url + 'assets/tweenmax/TweenMax.min.js')
		script(type="text/javascript" src=url + 'assets/scrollto/ScrollToPlugin.min.js')
		//- Styles -->
		link(rel="stylesheet" href=url + "css/style.css")
		script(type="text/javascript" src=url + "js/marteScripts.min.js")
		//- Facebook open graph
		meta(name="fb:page_id" content=facebookID)
		meta(name="og:region" content="MX")
		meta(property="og:site_name" content="Chocolate Abuelita - Nestlé ")
		meta(property="og:locale" content="es-MX")
		meta(name="og:country-name" content="Mexico")
		block openGraph
			meta(property="og:url" content=url)
			meta(property="og:title" content="Chocolate ABUELITA<sup>®</sup>")
			meta(property="og:description" content="Los mejores momentos se viven con la familia, por eso Chocolate ABUELITA<sup>®</sup> hace más ricos los instantes que pasamos con nuestros seres queridos. Hacer chocolate caliente es una tradición que las familias mexicanas han compartido…")
			meta(property="og:type" content="website")
			meta(property="og:image" content=url + 'img/facebook-share-chocolate-abuelita-nestle.png')
		block twitterCards
			meta(name="twitter:card" content="summary_large_image")
			meta(name="twitter:site" content='@' + twitterUser)
			meta(name="twitter:creator" content='@' + twitterUser)
			meta(name="twitter:title" content="Chocolate ABUELITA<sup>®</sup>")
			meta(name="twitter:description" content="Los mejores momentos se viven con la familia, por eso Chocolate ABUELITA<sup>®</sup> hace más ricos los instantes que pasamos con nuestros seres queridos.")
			meta(name="twitter:image" content=url + 'img/twitter-card-chocolate-abuelita-nestle.png')
		//- Tag manager
		script#tag-manager.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-NBJJC6');
			
		//- base(href=url)
		
	//-
		angular body tag 
		body(ng-app="nestleapp").wk-wrap-1920
		
	body.wk-wrap-1920
		style#antiClickjack body {display:none !important;}
		script.
			if (self === top) {
				var antiClickjack = document.getElementById("antiClickjack");
				antiClickjack.parentNode.removeChild(antiClickjack);
			} else {
				top.location = self.location;
			}	
		//- Tag manager no script
		noscript
			iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-NBJJC6" height="0" width="0" style="display:none;visibility:hidden")
		.wk-preloading
			span.wk-preloading-loader
		header#main-header.wk-section.no-print
			section.wk-section-wrap
				#site-logo
					a(href=url): img.logo(src= url + "img/logo-abuelita-nestle.png" alt="Chocolate Abuelita")
				.wk-cols-m
					.wk-col.ui-box-model
						nav#social-nav
							ul.menu
								//-
									Las variables con urls de redes sociales
									se encuentran en jade/_vars.jade 
								li.menu-item: a(href=facebookURL target="_blank"): i.ui-icon.fa.fa-facebook
								li.menu-item: a(href=instagramURL target="_blank"): i.ui-icon.fa.fa-instagram
								li.menu-item: a(href=twitterURL target="_blank"): i.ui-icon.fa.fa-twitter
								li.menu-item: a(href=youtubeURL target="_blank"): i.ui-icon.fa.fa-youtube
					.wk-col.wk-d.ui-box-model
						nav#site-nav
							ul.menu
								li.menu-item: a(href=url + "historia.html") Historia
								li.menu-item: a(href=url + "productos.html") Productos
								li.menu-item: a(href=url + "el-ritual-abuelita.html") Ritual
								li.menu-item: a(href=url + "recetas.html") Recetas
								li.menu-item: a(href=url + "cocoa-plan.html") Cocoa Plan<sup>®</sup>
								
								//-
									Menú angular
									
									li.menu-item: a(href="#historia") Historia
									li.menu-item: a(href="#productos") Productos
									li.menu-item: a(href="#ritual-abuelita") Ritual
									li.menu-item: a(href="#recetas") Recetas
									li.menu-item: a(href="#plan-cacao") Cocoa Plan<sup>®</sup>
					
					.wk-col-1.wk-m.wk-flex.wk-flex-justify-end
						.off-canvas-icon
							.wk-icon
						
		block content
		//-
			div(class="page page-{{ pageClass }}" ng-view)
		
		include menu-movil.jade
