//- productos.jade
extends header.jade

block title
	title Recetas - Nestlé

block description
	meta(name="description" content="Recetas de Chocolate Abuelita")
	
block content

	main(role="main")
		+sectionHeader(
				'recetas-banner', 
				'ui-bg-red', 
				'Recetas', 
				'', 
				url + 'img/banner-recetas.jpg', 
				url + 'img/icon-recetas.png'
			)
					
		+sectionLeyend('recetas-leyend', '')
			strong Consiente a tu familia y crea momentos únicos e inolvidables utilizando tus dos ingredientes secretos: <span class="ui-title-xx-larger ui-text-gold">amor y Chocolate Abuelita<sup>®</sup>.</span>
						
		section#recetas.ui-block-texture-cover.wk-wrap-1100.ui-d-block-padding
			.wk-section-wrap
				.wk-cols
					.wk-col
						a.ui-post-excerpt(href=url + "como-preparar-chocolate-abuelita.html")
							img.ui-post-thumb(src=url + "img/receta-thumbnail-como-preparar-chocolate-abuelita-nestle.jpg" alt="Cómo preparar chocolate Abuelita<sup>®</sup> - Nestle")
							.ui-post-excerpt-content
								h1.ui-post-title.ui-title-small.ui-box-model Cómo preparar Chocolate Abuelita<sup>®</sup>
								.ui-post-read-more Ver receta
							
					.wk-col
						a.ui-post-excerpt(href=url + "como-hacer-rosca-de-reyes-con-chocolate-abuelita.html")
							img.ui-post-thumb(src=url + "img/receta-thumbnail-como-preparar-rosca-reyes-chocolate-abuelita-nestle.jpg" alt="Cómo hacer Rosca de Reyes con Chocolate Abuelita<sup>®</sup> - Nestle")
							.ui-post-excerpt-content
								.ui-post-title.ui-title-small.ui-box-model Cómo hacer Rosca de Reyes con Chocolate Abuelita<sup>®</sup>
								.ui-post-read-more Ver receta
					
				.wk-cols
					.wk-col
						a.ui-post-excerpt(href=url + "como-hacer-pan-de-muertos-con-chocolate-abuelita.html")
							img.ui-post-thumb(src=url + "img/receta-thumbnail-como-preparar-pan-de-muerto-chocolate-abuelita-nestle.jpg" alt="Cómo hacer Pan de Muerto con Chocolate Abuelita - Nestle ")
							.ui-post-excerpt-content
								.ui-post-title.ui-title-small.ui-box-model Cómo hacer Pan de Muerto con Chocolate Abuelita<sup>®</sup>
								.ui-post-read-more Ver receta
					//-
						.wk-col
							a.ui-post-excerpt(href=url + "como-hacer-churros-con-salsa-de-chocolate-abuelita.html")
								img.ui-post-thumb(src=url + "img/receta-thumbnail-como-preparar-churros-chocolate-abuelita-nestle.jpg" alt="Cómo hacer Churros con Salsa de Chocolate Abuelita<sup>®</sup> - Nestle")
								.ui-post-excerpt-content
									.ui-post-title.ui-title-small.ui-box-model Cómo hacer Churros con Salsa de Chocolate Abuelita<sup>®</sup>
									.ui-post-read-more Ver receta
						
					.wk-col
						a.ui-post-excerpt(href=url + "como-hacer-mole-poblano-con-chocolate-abuelita.html")
							img.ui-post-thumb(src=url + "img/receta-thumbnail-como-preparar-churros-chocolate-abuelita-nestle.jpg" alt="Cómo hacer mole poblano con Chocolate Abuelita<sup>®</sup> - Nestle")
							.ui-post-excerpt-content
								.ui-post-title.ui-title-small.ui-box-model Cómo hacer mole poblano con Chocolate Abuelita<sup>®</sup>
								.ui-post-read-more Ver receta
							
	include footer.jade
